/* .container {
    font-family: sans-serif;
    text-align: center;
} */

html body {
    font-family: sans-serif;
    text-align: center;
    background: rgb(255,46,46);
    background: linear-gradient(160deg, rgba(255,46,46,1) 0%, rgba(255,69,69,1) 35%, rgba(50,38,38,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

h2 {
    color: white;
    text-align: center;
    font-family: 'Courier New';
}

h1 {
    color: white;
    font-family: 'Courier New';
    text-align: center;
}

label {
    color: white;
}

input {
    width: max-content;
    border-radius: 16px;
    height: 32px;
}

#myButton {
	background:linear-gradient(to bottom, #ff5473 5%, #ff055d 100%);
	background-color:#ff5473;
	border-radius:26px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	padding:16px 32px;
	text-decoration:none;
    margin-bottom: 26px;
}
#myButton:hover {
	background:linear-gradient(to bottom, #ff055d 5%, #ff5473 100%);
	background-color:#ff055d;
}
#myButton:active {
	position:relative;
	top:1px;
}

#reset {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:26px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
#reset:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
#reset:active {
	position:relative;
	top:1px;
}

h3 {
    font-style: italic;
    color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
